<div class="row mt-5">
    <div class="col-lg-6 offset-lg-3">
        <h2 class="text-center text-white">Ingrese presupuesto</h2>
        <div class="card">
            <div  *ngIf="cantidadIncorrecta" class="text-center mt-3">
                <span class="badge bg-danger textError">EL PRESUPUESTO DEBE SER MAYOR A 0</span>
            </div>
            <div class="card-body">
                <input type="number" [(ngModel)]="cantidad"  class="form-control form-control-lg" placeholder="ingrese su presupuesto">
                <div class="d-flex justify-content-around">
                    <button  class="btn btn-success btn-lg btn-block m-2" (click)="agregar()">Ingreso</button>
                    <button  class="btn btn-secondary btn-lg btn-block m-2" (click)="agregar()">Aceptar</button>
                    <button  class="btn btn-danger btn-lg btn-block m-2" (click)="agregar()">Gasto</button>
            </div>
            </div>
        </div>
    </div>

</div>
